.hero {
  margin: 0 auto;
  max-width: 1170px;

  &__row {
    height: 460px;
    background-image: url(../img/hero__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $md3+px) { 
      height: 390px;
      background-image: url(../img/hero__bg-390.jpg);
      background-position:  70% 0;
    }
    @media screen and (max-width: $md4+px) { 
      height: 350px;
      background-image: url(../img/hero__bg-350.jpg);
      background-position:  60% 0;
    }
  }
  // .hero__ofer
  &__ofer {
    margin-left: 15px;
    width: 700px;
    height: 350px;
    background-color: rgba(53, 59, 72, 0.66);
    position: absolute;
    z-index: 5;
    top: 14%;
    @media screen and (max-width: $md1+px) {
      width: 550px;
    }
    @media screen and (max-width: $md2+px) {
      top: 10%;
    }
    @media screen and (max-width: $md3+px) { 
      width: 90%;
      top:10%;
      height: 270px;
      
    }
    @media screen and (max-width: $md4+px) { 
      top:10%;
      width: 90%;
      
    
    }
    h4 {
      margin-left: 75px;
      font-size: 24px;
      font-style: normal;
      line-height: 1.1;
      letter-spacing: normal;
      color: $light;
      font-weight: normal;
      @media screen and (max-width: $md3+px) {
        margin-left: 40px;
        font-size: 20px;
      }
      @media screen and (max-width: $md4+px) { 
        font-size: 16px;
          width: 80%;
      }
      
    }
    p {
      margin: 30px 0;
      // text-align: center;
      height: 16px;
      font-size: 14px;
      color: $light;
      @media screen and (max-width: $md3+px) { 
        margin: 24px 0px;
        color: darken($light, 10%);
        
      }
      @media screen and (max-width: $md4+px) { 
        font-size: 12px;
      }
    }
  }
  &__label{
    width: 100%;
    text-align: left;
   

    // position: absolute;
    margin: 40px 0px 30px 70px;
    @media screen and (max-width: $md3+px) { 
      text-align: center;
      margin: 40px 0px 30px 0px;
      
    }
  }
  &__title {
    margin: 65px 0px 6px 0px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: $light;
    font-size: 52px;
    @media screen and (max-width: $md1+px) { 
      font-size: 42px;
      
    }
    @media screen and (max-width: $md3+px) {
      font-size: 24px;
      margin: 45px 0px 6px 0px;
    }
    @media screen and (max-width: 410px) { 
        font-size: 18px;
      }
    @media screen and (max-width: 360px) { 
        font-size: 18px;
      }
    span {
      color: $text;
      background: $one;
      padding: 0px 4px 8px 4px;
    }
  }
}
.hero__btn {
  // display: block;
  // width: 167px;
  height: 37px;
  
  margin: 20px  auto;
  background: #EB5757;
  @media screen and (max-width: $md4+px) { 
    margin: 30px auto 20px;
  }
}
.btn {
  padding: 8px 30px;
  @include anim(0.3s, 0.2s) ;
  // background-image: linear-gradient(to bottom, #2ecc71, #27ae60);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.hero .container {
  padding: 0;
}
