/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/

#404_1 {
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: 404_1__y__1 314ms 0ms linear forwards, 404_1__y__2 147ms 314ms linear forwards, 404_1__y__3 150ms 461ms linear forwards, 404_1__y__4 148ms 611ms linear forwards, 404_1__y__5 132ms 759ms linear forwards, 404_1__y__6 109ms 891ms linear forwards, 404_1__rotation__1 1001ms 0ms linear forwards, 404_1__rotation__2 999ms 1001ms linear forwards, 404_1__rotation__3 500ms 2000ms linear forwards, 404_1__rotation__4 500ms 2500ms linear forwards, 404_1__rotation__5 500ms 3000ms linear forwards, 404_1__rotation__6 500ms 3500ms linear forwards;
  animation: 404_1__y__1 314ms 0ms linear forwards, 404_1__y__2 147ms 314ms linear forwards, 404_1__y__3 150ms 461ms linear forwards, 404_1__y__4 148ms 611ms linear forwards, 404_1__y__5 132ms 759ms linear forwards, 404_1__y__6 109ms 891ms linear forwards, 404_1__rotation__1 1001ms 0ms linear forwards, 404_1__rotation__2 999ms 1001ms linear forwards, 404_1__rotation__3 500ms 2000ms linear forwards, 404_1__rotation__4 500ms 2500ms linear forwards, 404_1__rotation__5 500ms 3000ms linear forwards, 404_1__rotation__6 500ms 3500ms linear forwards;
}

@-webkit-keyframes 404_1__y__1 {
  from {
    top: 269px;
  }

  to {
    top: 275px;
  }
}

@keyframes 404_1__y__1 {
  from {
    top: 269px;
  }

  to {
    top: 275px;
  }
}

@-webkit-keyframes 404_1__y__2 {
  from {
    top: 275px;
  }

  to {
    top: 265px;
  }
}

@keyframes 404_1__y__2 {
  from {
    top: 275px;
  }

  to {
    top: 265px;
  }
}

@-webkit-keyframes 404_1__y__3 {
  from {
    top: 265px;
  }

  to {
    top: 273px;
  }
}

@keyframes 404_1__y__3 {
  from {
    top: 265px;
  }

  to {
    top: 273px;
  }
}

@-webkit-keyframes 404_1__y__4 {
  from {
    top: 273px;
  }

  to {
    top: 267px;
  }
}

@keyframes 404_1__y__4 {
  from {
    top: 273px;
  }

  to {
    top: 267px;
  }
}

@-webkit-keyframes 404_1__y__5 {
  from {
    top: 267px;
  }

  to {
    top: 271px;
  }
}

@keyframes 404_1__y__5 {
  from {
    top: 267px;
  }

  to {
    top: 271px;
  }
}

@-webkit-keyframes 404_1__y__6 {
  from {
    top: 271px;
  }

  to {
    top: 269px;
  }
}

@keyframes 404_1__y__6 {
  from {
    top: 271px;
  }

  to {
    top: 269px;
  }
}

@-webkit-keyframes 404_1__rotation__1 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@keyframes 404_1__rotation__1 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@-webkit-keyframes 404_1__rotation__2 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }
}

@keyframes 404_1__rotation__2 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }
}

@-webkit-keyframes 404_1__rotation__3 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@keyframes 404_1__rotation__3 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@-webkit-keyframes 404_1__rotation__4 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-6deg);
    transform: translateX(-50%) translateY(-50%) rotate(-6deg);
  }
}

@keyframes 404_1__rotation__4 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-6deg);
    transform: translateX(-50%) translateY(-50%) rotate(-6deg);
  }
}

@-webkit-keyframes 404_1__rotation__5 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-6deg);
    transform: translateX(-50%) translateY(-50%) rotate(-6deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@keyframes 404_1__rotation__5 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-6deg);
    transform: translateX(-50%) translateY(-50%) rotate(-6deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

@-webkit-keyframes 404_1__rotation__6 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }
}

@keyframes 404_1__rotation__6 {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6deg);
    transform: translateX(-50%) translateY(-50%) rotate(6deg);
  }
}