
$bg-c: #353b48;
$text: #2f3640;
$orangey-yellow: #f5a623;
$dark-sky-blue: #4a90e2;
$one: #f7f051;
$scarlet: #d0021b;
$one-25: #c0b809;
$light: #f5f6fa;
$nav: #7f8fa6;
$brown-grey: #979797;












$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;



// MIXIN

@mixin anim($time,$delay) {-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}


